<p id="notice"><%= notice %></p>

<p>
  <strong>Moviename:</strong>
  <%= @movie.moviename %>
</p>

<p>
  <strong>Show:</strong>
  <%= @movie.show %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movie.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @movie.time %>
</p>

<p>
  <strong>Numberofseats:</strong>
  <%= @movie.numberofseats %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
